.accordionList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.accordionListItem:not(:last-child) {
  margin-bottom: 26px;
}
.accordionListItem {
  cursor: pointer;
}
.accordionTitle {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: rgb(59, 59, 59);
  margin-bottom: 6px;
}
.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  max-height: 0;
  color: rgb(63, 62, 62);
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}
.descriptionActive {
  max-height: max-content;
  opacity: 1;
}
